* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid #eee;
    padding: 30px;

}
li:nth-child(odd){
    background-color: #eee;
}
li:nth-child(even){
    background-color: #fff;
}

li button{
    float: right;
}

#input{
    border-bottom: 1px solid #eee;
    padding: 30px;
}
#input input{
    border:none;
    border-bottom:1px solid black;
    width: 90%;
}

#modal{
    z-index: 11;
    padding: 5%;
    position: absolute;
    display: none;

    justify-content: center;
    align-items: center;

    width: 60%;
    height: 90%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
}
#cache{
    z-index: 10;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0; 
    width: 100%;
    height: 100%;
}

#input2{
    border-bottom: 1px solid #eee;
    padding: 30px;
}
#input2 input{
    border:none;
    border-bottom:1px solid black;
    width: 90%;
}

#enterButton{
    background-color: #af534c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;   
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#enterButton:hover{
    background-color:#a87773;
}

.closeButton{
    background-color: #af534c;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;   
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

.closeButton:hover{
    background-color: #a87773;
}