* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid #eee;
    padding: 30px;

}
li:nth-child(odd){
    background-color: #eee;
}

li button{
    float: right;
}

#input{
    border-bottom: 1px solid #eee;
    padding: 30px;
}
#input input{
    border:none;
    border-bottom:1px solid black;
    width: 90%;
}


#modal{
    padding: 5%;
    position: absolute;
    display: none;

    justify-content: center;
    align-items: center;

    width: 60%;
    height: 90%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: red;

}